@charset "utf-8";
/* CSS Document */
#background{
	background-image:url(images/pyramid.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 1200px;
}

#menu p{
	font-size:24px;
	font-weight: bold;
}

#menu h5{
	font-size:18px;
}

/*text increases size and changes color on hover*/
#finances h5 {
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#finances:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:1.0
}

#parking h5 {
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#parking:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#academics h5 {
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#academics:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#calendars h5 {
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#calendars:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#housing h5 {
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#housing:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#resources h5 {
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#resources:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/**************************************/

/*css for footer*/
.footer {
    position: relative;
    margin-top: -30px;
    width: 100%;
    min-height: 100px;
    background-color: dimgrey;
    color: white;
    text-align: left;
}
.floating-box {
    display: inline-block;
    margin-top: 44px;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
}
/***************************/

#financesContent{ 
display: none;
background-color: skyBlue;
}

#parkingContent{ 
display: none;
background-color: skyBlue
}

#academicsContent{ 
display: none;
background-color: skyBlue
}

#calendarContent{ 
display: none;
background-color: skyBlue
}

#housingContent{ 
display: none;
background-color: skyBlue
}

#resourcesContent{ 
display: none;
background-color: skyBlue
}
