@charset "utf-8";
/* CSS Document */
#background {
	background-image:url(images/pyramid.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 1200px;
}
#iwmenu{
  background-color: dimgrey
}
#iwmenu h2 {
  font-weight:bold;
  color:white;
}
#menu {
  background-color: dimgrey
}

#menu p {
	font-size:24px;
	font-weight: bold;
}

#menu h2 {
  font-weight:bold;
  color:white;
}

#menu h5 {
	font-size:18px;
}

#finances h5, #parking h5, #academics h5, 
#calendars h5, #housing h5, #resources h5 {
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: goldenrod
  
}
div.transbox{
  margin-top: 500px;
  margin-left: 40px;
  width: 40%;
  min-height: 350px;
  background-color: #222222;
  border: .1px solid black;
  opacity: 0.75;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.transbox h2 {
  display: inline-block;
  margin: 10%;
  margin-bottom: -50px;
  font-size: 30px;
  font-weight: bold;
  color:white;
}
div.transbox p {
  display: inline-block;
  margin: 10%;
  margin-bottom: 100px;
  font-weight: thin;
  color: white;
}
.button{  

    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button1{
  margin-left: 10%;
  margin-bottom: 25px;
  background-color: #222222;
  color: white;
  border: 2px solid white;
}
.button1:hover {
  background-color:white;
  color:black;
}
/*#finances:hover h5, #parking:hover h5, #academics:hover h5, 
#calendars:hover h5, #housing:hover h5, #resources:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:1.0
}*/

/* #parking h5 {
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#parking:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#academics h5 {
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#academics:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#calendars h5 {
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#calendars:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#housing h5 {
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#housing:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#resources h5 {
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: goldenrod
  
}
#resources:hover h5 {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

.img-responsive {
  margin: 10px 0px 10px 0px; 
  max-height: 525px;
  width: 80%;
}
/**************************************/

/*css for footer*/
.footer {
    position: relative;
    margin-top: -30px;
    width: 100%;
    min-height: 100px;
    background-color: dimgrey;
    color: white;
    text-align: left;
}
.floating-box {
    display: inline-block;
    margin-top: 44px;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
}
/***************************/

#financesContent, #parkingContent, #academicsContent, #calendarContent, #housingContent, #resourcesContent { 
  display: none;
  background-color: #222222;
  border: 3px solid goldenrod;
}

/* #parkingContent { 
  display: none;
  background-color: skyBlue
}

#academicsContent { 
  display: none;
  background-color: skyBlue
}

#calendarContent { 
  display: none;
  background-color: skyBlue
}

#housingContent { 
  display: none;
  background-color: skyBlue
}

#resourcesContent { 
  display: none;
  background-color: skyBlue
} */
