@charset "utf-8";
/* CSS Document */
#background{
	background-image:url(images/pyramid.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 1200px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	margin-top: 22px;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}